----TABELAS DO WAF

DELETE FROM [dbo].[Extra_28-02-03] WHERE DATA LIKE '#%'
DELETE FROM [dbo].[Extra_28-02-03] WHERE DATA LIKE '2014-11-27'
go
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='NAO' WHERE COOKIE LIKE '"-"';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '"TM%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '"CK%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '"DT%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '"IP%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '%LIKE GECKO%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '"SLI%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '%extra.com%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '"m%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '"__%';
UPDATE [dbo].[Extra_28-02-03] SET COOKIE ='SIM' WHERE COOKIE LIKE '"%';
GO
UPDATE [dbo].[Extra_28-02-03] SET USERAGENT ='NAO' WHERE USERAGENT LIKE '"-"';
UPDATE [dbo].[Extra_28-02-03] SET USERAGENT ='SIM' WHERE USERAGENT LIKE '"%';
GO
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||"', '');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"-"', '');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||699999"', 'DDOS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||699993"', 'DDOS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||699996"', 'SCAN');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950004"', 'XSS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950006"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||959908"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||959006"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||959005"', 'REMOTE ACCESS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|970004:970904|"', 'LEAK');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|970901|"', 'LEAK');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||970902"', 'LEAK');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||970903"', 'LEAK');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||990011"', 'BAD ROBOTS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|699990:699991:960009|"', 'ANONYMOUS PROXY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960009|"', 'PROTOCOL ANOMALIES');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|699990:960009|"', 'ANONYMOUS PROXY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|699990|"', 'ANONYMOUS PROXY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|699991:960009|"', 'PROTOCOL ANOMALIES');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960009:970901|"', 'PROTOCOL ANOMALIES');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|950107|"', 'PROTOCOL VIOLATIONS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960035|"', 'HTTP POLICY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950908"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|699991:960009|950006"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960009:960010:960032|"', 'HTTP POLICY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960012|"', 'PROTOCOL VIOLATIONS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960901|"', 'PROTOCOL VIOLATIONS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950001"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950005"', 'REMOTE ACCESS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950007"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950907"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||959004"', 'XSS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||959907"', 'INJECTION');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960009:960010|"', 'HTTP POLICY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960010|"', 'HTTP POLICY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960032|"', 'HTTP POLICY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960038|"', 'HTTP POLICY');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960904|"', 'PROTOCOL ANOMALIES');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|970004|"', 'LEAK');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|990011|"', 'BAD ROBOTS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950911"', 'HTTP RESPONSE SPLITTING');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|970004:970904:IPBLOCK-BURST4-6279573-2|"', 'DDOS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|IPBLOCK-BURST4-6279573-2|"', 'DDOS');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='DDOS' WHERE WAFINFO LIKE '"REEX_11549||IPBLOCK%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549||950922"', 'TROJAN');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '"REEX_11549|960011|"', 'PROTOCOL ANOMALIES');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='DDOS' WHERE WAFINFO LIKE '%REEX_11549|699990|699999%'
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='HTTP POLICY' WHERE WAFINFO LIKE '%REEX_11549|699991:960009:960032%'
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='LEAK' WHERE WAFINFO LIKE '%REEX_11549|699991:960009:970004%'
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='PROTOCOL ANOMALIES' WHERE WAFINFO LIKE '%REEX_11549|960010:960912%'
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='LEAK' WHERE WAFINFO LIKE '%	REEX_11549||970013%'
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '			', '');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = REPLACE(WAFINFO, '	', '');
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='' WHERE WAFINFO LIKE 'REEX_115492014-11%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='' WHERE WAFINFO LIKE 'REEX_11549||2014-11%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='' WHERE WAFINFO LIKE 'REEX_11549|2014-11%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='ANONYMOUS PROXY' WHERE WAFINFO LIKE 'REEX_11549|699990:970901|';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='INJECTION' WHERE WAFINFO LIKE 'REEX_11549|960010|959006';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='PROTOCOL ANOMALIES' WHERE WAFINFO LIKE 'REEX_11549|960032:960038:960904|';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='PROTOCOL VIOLATIONS' WHERE WAFINFO LIKE 'REEX_11549|960912|';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='ANONYMOUS PROXY' WHERE WAFINFO LIKE '%699990:970901%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='HTTP POLICY' WHERE WAFINFO LIKE '%960035:970901%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='PROTOCOL VIOLATIONS' WHERE WAFINFO LIKE '%960901:970901%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='ANONYMOUS PROXY' WHERE WAFINFO LIKE '%699990:970901%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='DDOS' WHERE WAFINFO LIKE '%UTMC%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='DDOS' WHERE WAFINFO LIKE '%REEX_11549|IPBLOCK%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='LEAK' WHERE WAFINFO LIKE '%REEX_11549|699991:960009:970901|%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='INJECTION' WHERE WAFINFO LIKE '%REEX_11549||959010%';
UPDATE [dbo].[Extra_28-02-03] SET WAFINFO ='PROTOCOL ANOMALIES' WHERE WAFINFO LIKE '%REEX_11549|960009:960010:960032:970901%';
GO
UPDATE [dbo].[Extra_28-02-03] SET URI ='ROBOTS' WHERE URI LIKE '%ROBOTS.TXT';
UPDATE [dbo].[Extra_28-02-03] SET URI ='TXT' WHERE URI LIKE '%.TXT%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='ASPX' WHERE URI LIKE '%.ASPX%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='ASP' WHERE URI LIKE '%.ASP%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='GIF' WHERE URI LIKE '%.GIF%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='JPG' WHERE URI LIKE '%.JPG%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='JPG' WHERE URI LIKE '%.JPEG%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PNG' WHERE URI LIKE '%.PNG%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='HTML' WHERE URI LIKE '%.HTM%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='JS' WHERE URI LIKE '%.JS%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='ICO' WHERE URI LIKE '%.ICO%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PHP' WHERE URI LIKE '%.PHP%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='ASHX' WHERE URI LIKE '%.ASHX%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='MONITOR' WHERE URI LIKE '%DYNATRACEMONITOR%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='HTML' WHERE URI LIKE '%.HTML%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='AXD' WHERE URI LIKE '%.AXD%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='LIVEPRICE' WHERE URI LIKE '%LIVEPRICE%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PRODUTO' WHERE URI LIKE '%?FILTRO=%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='FALSH' WHERE URI LIKE '%.SWF%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PROMOCAO' WHERE URI LIKE '%/BLACKFRIDAY&%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='CSS' WHERE URI LIKE '%.CSS%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='SHTML' WHERE URI LIKE '%.SHTML%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='REDIRECT' WHERE URI LIKE '%/FGTAUTH?%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='SEARCH' WHERE URI LIKE '%/SEARCH?%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='WOFF' WHERE URI LIKE '%WOFF%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='LOG' WHERE URI LIKE '%LOG%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='CONFIG' WHERE URI LIKE '%CONF%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='CONFIG' WHERE URI LIKE '%CFG%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='BANCO DE DADOS' WHERE URI LIKE '%MDB%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PHTML' WHERE URI LIKE '%PHTML%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='CGI' WHERE URI LIKE '%CGI%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='EXE' WHERE URI LIKE '%EXE%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='INI' WHERE URI LIKE '%INI%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PERL' WHERE URI LIKE '%PL%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='COLDFUSION' WHERE URI LIKE '%CF%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='GIGYA' WHERE URI LIKE '%GIGYA%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='ASPX(LOMADEE)' WHERE URI LIKE '%CAMPAIGN=LOMADEE%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='XML' WHERE URI LIKE '%XML%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='HTML' WHERE URI LIKE '%HTML';
UPDATE [dbo].[Extra_28-02-03] SET URI ='ZIP' WHERE URI LIKE '%.ZIP';
UPDATE [dbo].[Extra_28-02-03] SET URI ='RAR' WHERE URI LIKE '%.RAR';
UPDATE [dbo].[Extra_28-02-03] SET URI ='EOT' WHERE URI LIKE '%EOT%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='SVG' WHERE URI LIKE '%SGV%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='MIDIA' WHERE URI LIKE '%OGG%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='FONTE' WHERE URI LIKE '%TTF%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='ASPX' WHERE URI LIKE '/EXTRA.COM.BR/%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='ASPX' WHERE URI LIKE '/PRODUTO.EXTRA.COM.BR/%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PESQUISAS' WHERE URI LIKE '/WWW.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PESQUISAS' WHERE URI LIKE '/BUSCA.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URI ='PESQUISAS' WHERE URI LIKE '/PRICE.EXTRA.COM.BR%';
GO
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA WWW' WHERE URL LIKE '%://WWW.EXTRA.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE TALK' WHERE URL LIKE '%NIKETALK.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE HELP' WHERE URL LIKE '%HELP-EN-US.NIKE.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA ADMIN' WHERE URL LIKE '%ADMIN.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ZOOM' WHERE URL LIKE '%://WWW.ZOOM.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%://BMAIL.UOL%';;
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%://MAIL.TERRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE BUSCA' WHERE URL LIKE '%://BUSCA.NIKE.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://CITYADSPIX.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://CIP.GAGNOO.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='BUSCA DESCONTOS' WHERE URL LIKE '%://EMAIL.BUSCADESCONTOS%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FWDAFF' WHERE URL LIKE '%://FWDAFF.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='GOOGLE ADS' WHERE URL LIKE '%DOUBLECLICK.NET%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FACEBOOK' WHERE URL LIKE '%//L.FACEBOOK.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FACEBOOK' WHERE URL LIKE '%://WWW.FACEBOOK.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FACEBOOK MOBILE' WHERE URL LIKE '%://M.FACEBOOK.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE MOBILE' WHERE URL LIKE '%://M.NIKE.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE SHOP' WHERE URL LIKE '%SHOP.NIKE.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE SHOP' WHERE URL LIKE '%://WWW.LOJADANIKE%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE OFICIAL' WHERE URL LIKE '%://OFICIAL.NIKE.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE STORE' WHERE URL LIKE '%://STORE.NIKE.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://TAGS.RIGHT-ADS.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='GOOGLE ADS' WHERE URL LIKE '%://TPC.GOOGLESYNDICATION.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://TRACKER.LOMADEE.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://LOJA.NEYMAROFICIAL.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.CORINTHIANS.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.CLOSETERIA%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://CORREMULHERADA%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://ESPORTEINTERATIVO%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.BUSCAPE%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.LESHOPPING%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%://AFMAIL.UOL.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FACEBOOK' WHERE URL LIKE '%FACEBOOK.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='TWITTER' WHERE URL LIKE '%://API.TWITTER%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://BR.ADS.OPPUZ%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='BUSCADOR' WHERE URL LIKE '%://BUSCA.VIVO%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://CK.SOLOCPM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='BUSCADOR' WHERE URL LIKE '%://BUSCA.UOL%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='GOOGLE' WHERE URL LIKE '"%.GOOGLE.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='BING' WHERE URL LIKE '%BING%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.AMIGOSECRETO.COM.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.AMAZON.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%WEBMAIL%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://WWW.VIZURY.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.CPNA.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.CBF.COM.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%.VIZURY%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://OFFERS.BYCONTEXT.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://NYM1.IB.ADNXS.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://WWW.PARKSHOPPINGBARIGUI.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE WWW' WHERE URL LIKE '%://WWW.NIKE.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FAKE' WHERE URL LIKE '"HTTP://1%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FAKE' WHERE URL LIKE '"HTTP://6%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FAKE' WHERE URL LIKE '"HTTP://2%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%MAIL%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE GO' WHERE URL LIKE '%://GO.NIKE%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NIKE GO' WHERE URL LIKE '%://GONIKE%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%://EMAIL%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%://CORREIO%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%://MX%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%ZIMBRA%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='YAHOO' WHERE URL LIKE '%SEARCH.YAHOO%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ENCURTADOR' WHERE URL LIKE '%://BIT.LY%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ENCURTADOR' WHERE URL LIKE '%GOO.GL%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ENCURTADOR' WHERE URL LIKE '%T.CO%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='BAIXOU' WHERE URL LIKE '%BAIXOU.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='LOJA COLABORADOR' WHERE URL LIKE '%NOVAPONTOCOM.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='BAIDU' WHERE URL LIKE '%.BAIDU.C%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ARQUIVO(ERRO)' WHERE URL LIKE '"FILE://%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%://PIXEL.MATHTAG.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://PRODUTO.MERCADOLIVRE.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://RUNNERSWORLD.ABRIL.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='POWERREVIEW' WHERE URL LIKE '%://SERVICES.POWERREVIEWS%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%://FIEL.VC%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%.AMAZONAWS.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ASK.COM' WHERE URL LIKE '%ASK.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%CUPONATION.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%CUPOMVALIDO.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%ADS.YAHOO%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%EHUB.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%.ROCKETTAB.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='WRONG REQUEST' WHERE URL LIKE '%LOCALHOST%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='WRONG REQUEST' WHERE URL LIKE '%CHROME://%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='WRONG REQUEST' WHERE URL LIKE '%FBAPP:%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='WRONG REQUEST' WHERE URL LIKE '%HR0CDOVL3D3DY56B29TLMNV%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='AD' WHERE URL LIKE '%ADNXS.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%NCUPONS.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%NETB.SESC-SC.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='MAIL' WHERE URL LIKE '%EMAIL%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='BLOG' WHERE URL LIKE '%BLOG%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PINTEREST' WHERE URL LIKE '%PINTEREST.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='COMPONENTE' WHERE URL LIKE '%SKINED%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA BUSCA' WHERE URL LIKE '%BUSCANDO.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA BUSCA' WHERE URL LIKE '%BUSCA.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ADOBE' WHERE URL LIKE '%ADOBE.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='UOL' WHERE URL LIKE '%UOL.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA ATENDIMENTO' WHERE URL LIKE '%ATENDIMENTO.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ZOOM' WHERE URL LIKE '%ZOOM.YAHOO.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA DELIVERY' WHERE URL LIKE '%CHK.DELIVERYEXTRA.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA CARRINHO' WHERE URL LIKE '%CARRINHO.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA COMUNICADO' WHERE URL LIKE '%COMUNICADO.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA NEWS' WHERE URL LIKE '%NEWS.EXTRA.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='CUSTHELP' WHERE URL LIKE '%EXTRA-BR.CUSTHELP%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='BOMDFARO' WHERE URL LIKE '%BONDFARO%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA PRODUTO' WHERE URL LIKE '%PRODUTO.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%JACOTEI.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA IMAGENS' WHERE URL LIKE '%EXTRA-IMAGENS.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA DELIVERY' WHERE URL LIKE '%DELIVERYEXTRA.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA PRECO' WHERE URL LIKE '%PRICE.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%COMPRAGAMES.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA IMAGENS' WHERE URL LIKE '%IMAGENS.EXTRA%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ERROS' WHERE URL LIKE '%DNSERROS.OI.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%SONY.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%SAMSUNG.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='TUMBLR' WHERE URL LIKE '%TUMBLR.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='WORDPRESS' WHERE URL LIKE '%WORDPRESS%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='ASK.COM' WHERE URL LIKE '%ASK.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='GOOGLE ADS' WHERE URL LIKE '%DOUBLECLICK.NET%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='GOOGLE ADS' WHERE URL LIKE '%GOOGLESYNDICATION%'; 
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA IMAGENS' WHERE URL LIKE '%ALIBABA.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA MOBILE' WHERE URL LIKE '%M.EXTRA.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA MOBILE' WHERE URL LIKE '%MOBI.EXTRA.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%APPLE.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%ACER.COM%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA CHAT' WHERE URL LIKE '%CHAT.EXTRA%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='PARCEIROS' WHERE URL LIKE '%PLAYSTATION.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='FLICKR' WHERE URL LIKE '%FLICKR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='CDN' WHERE URL LIKE '%CDN.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='GOOGLE' WHERE URL LIKE '%.GOOGLE.%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA WWW' WHERE URL LIKE '"EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA WWW' WHERE URL LIKE '%/WWW.EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='EXTRA WWW' WHERE URL LIKE '%//EXTRA.COM.BR%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='WWW GERAL' WHERE URL LIKE '"HTTP://WWW%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NAO CLASSIFICADO' WHERE URL LIKE '"HTTP:/%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NAO CLASSIFICADO' WHERE URL LIKE '"HTTPS://%';
UPDATE [dbo].[Extra_28-02-03] SET URL ='NAO CLASSIFICADO' WHERE URL LIKE '"/%'; 

DBCC SHRINKDATABASE (WAF);
go
UPDATE [dbo].[Extra_28-02-03] SET METODO = UPPER(METODO);
--UPDATE [dbo].[Extra_28-02-03] SET URI = UPPER(URI);
--UPDATE [dbo].[Extra_28-02-03] SET URL = UPPER(URL);
--UPDATE [dbo].[Extra_28-02-03] SET USERAGENT = UPPER(USERAGENT);
--UPDATE [dbo].[Extra_28-02-03] SET COOKIE = UPPER(COOKIE);
--UPDATE [dbo].[Extra_28-02-03] SET WAFINFO = UPPER(WAFINFO);
GO
DBCC SHRINKDATABASE (WAF);


SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='00:00:00' and cast(hora as time) <'00:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='00:30:00' and cast(hora as time) <'01:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='01:00:00' and cast(hora as time) <'01:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='01:30:00' and cast(hora as time) <'02:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='02:00:00' and cast(hora as time) <'02:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='02:30:00' and cast(hora as time) <'03:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='03:00:00' and cast(hora as time) <'03:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='03:30:00' and cast(hora as time) <'04:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='04:00:00' and cast(hora as time) <'04:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='04:30:00' and cast(hora as time) <'05:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='05:00:00' and cast(hora as time) <'05:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='05:30:00' and cast(hora as time) <'06:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='06:00:00' and cast(hora as time) <'06:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='06:30:00' and cast(hora as time) <'07:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='07:00:00' and cast(hora as time) <'07:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='07:30:00' and cast(hora as time) <'08:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='08:00:00' and cast(hora as time) <'08:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='08:30:00' and cast(hora as time) <'09:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='09:00:00' and cast(hora as time) <'09:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='09:30:00' and cast(hora as time) <'10:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='10:00:00' and cast(hora as time) <'10:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='10:30:00' and cast(hora as time) <'11:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='11:00:00' and cast(hora as time) <'11:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='11:30:00' and cast(hora as time) <'12:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='12:00:00' and cast(hora as time) <'12:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='12:30:00' and cast(hora as time) <'13:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='13:00:00' and cast(hora as time) <'13:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='13:30:00' and cast(hora as time) <'14:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='14:00:00' and cast(hora as time) <'14:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='14:30:00' and cast(hora as time) <'15:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='15:00:00' and cast(hora as time) <'15:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='15:30:00' and cast(hora as time) <'16:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='16:00:00' and cast(hora as time) <'16:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='16:30:00' and cast(hora as time) <'17:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='17:00:00' and cast(hora as time) <'17:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='17:30:00' and cast(hora as time) <'18:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='18:00:00' and cast(hora as time) <'18:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='18:30:00' and cast(hora as time) <'19:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='19:00:00' and cast(hora as time) <'19:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='19:30:00' and cast(hora as time) <'20:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='20:00:00' and cast(hora as time) <'20:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='20:30:00' and cast(hora as time) <'21:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='21:00:00' and cast(hora as time) <'21:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='21:30:00' and cast(hora as time) <'22:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='22:00:00' and cast(hora as time) <'22:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='22:30:00' and cast(hora as time) <'23:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='23:00:00' and cast(hora as time) <'23:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE data = '2014-11-28' and  cast(hora as time) >='23:30:00'			
GROUP BY Data

SELECT WAFInfo,COUNT(*) Qtde FROM [dbo].[Extra_28-02-03]
WHERE WAFInfo not like '' and data = '2014-11-28'
group by WAFInfo
