DBCC SHRINKDATABASE (WAF);
SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='00:00:00' and cast(hora as time) <'00:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='00:30:00' and cast(hora as time) <'01:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='01:00:00' and cast(hora as time) <'01:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='01:30:00' and cast(hora as time) <'02:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='02:00:00' and cast(hora as time) <'02:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='02:30:00' and cast(hora as time) <'03:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='03:00:00' and cast(hora as time) <'03:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='03:30:00' and cast(hora as time) <'04:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='04:00:00' and cast(hora as time) <'04:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='04:30:00' and cast(hora as time) <'05:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='05:00:00' and cast(hora as time) <'05:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='05:30:00' and cast(hora as time) <'06:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='06:00:00' and cast(hora as time) <'06:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='06:30:00' and cast(hora as time) <'07:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='07:00:00' and cast(hora as time) <'07:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='07:30:00' and cast(hora as time) <'08:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='08:00:00' and cast(hora as time) <'08:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='08:30:00' and cast(hora as time) <'09:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='09:00:00' and cast(hora as time) <'09:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='09:30:00' and cast(hora as time) <'10:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='10:00:00' and cast(hora as time) <'10:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='10:30:00' and cast(hora as time) <'11:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='11:00:00' and cast(hora as time) <'11:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='11:30:00' and cast(hora as time) <'12:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='12:00:00' and cast(hora as time) <'12:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='12:30:00' and cast(hora as time) <'13:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='13:00:00' and cast(hora as time) <'13:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='13:30:00' and cast(hora as time) <'14:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='14:00:00' and cast(hora as time) <'14:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='14:30:00' and cast(hora as time) <'15:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='15:00:00' and cast(hora as time) <'15:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='15:30:00' and cast(hora as time) <'16:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='16:00:00' and cast(hora as time) <'16:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='16:30:00' and cast(hora as time) <'17:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='17:00:00' and cast(hora as time) <'17:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='17:30:00' and cast(hora as time) <'18:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='18:00:00' and cast(hora as time) <'18:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='18:30:00' and cast(hora as time) <'19:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='19:00:00' and cast(hora as time) <'19:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='19:30:00' and cast(hora as time) <'20:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='20:00:00' and cast(hora as time) <'20:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='20:30:00' and cast(hora as time) <'21:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='21:00:00' and cast(hora as time) <'21:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='21:30:00' and cast(hora as time) <'22:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='22:00:00' and cast(hora as time) <'22:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='22:30:00' and cast(hora as time) <'23:00:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='23:00:00' and cast(hora as time) <'23:30:00'
GROUP BY Data

SELECT DATA,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE data = '2014-11-29' and  cast(hora as time) >='23:30:00'			
GROUP BY Data

SELECT WAFInfo,COUNT(*) Qtde FROM [WAF].[dbo].[pf-29]
WHERE WAFInfo not like '' and data = '2014-11-29'
group by WAFInfo

